.projects__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 4rem auto 0;
    width: var(--container-width-md);
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
  
.square {
    background-color: #f1c40f;
    height: 21rem;
}
  
.rectangle {
    background-color: #2ecc71;
    height: 17rem;
}
  