.logo {
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
    position: fixed;
    top: 3%;
    left: 3.5%;
    letter-spacing: 3px;
    border: 2px solid var(--color-orange-primary);
    border-radius: 50%;
    padding: 0.55rem;
    color: var(--color-white);
    transition: var(--transition);
    z-index: 9995;
}

.logo:hover {
    border-color: var(--color-white);
    color: var(--color-orange-primary);
}

@media screen and (max-width: 600px){
    .logo {
        position: absolute;
    }
}
